<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_AttributeConfigurator>
            <version>0.1.0</version>
        </Hackathon_AttributeConfigurator>
    </modules>
    <global>
        <helpers>
            <hackathon_attributeconfigurator>
                <class>Hackathon_AttributeConfigurator_Helper</class>
            </hackathon_attributeconfigurator>
        </helpers>
        <models>
            <hackathon_attributeconfigurator>
                <class>Hackathon_AttributeConfigurator_Model</class>
            </hackathon_attributeconfigurator>
        </models>
        <resources>
            <hackathon_attributeconfigurator>
                <setup>
                    <module>Hackathon_AttributeConfigurator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hackathon_attributeconfigurator>
        </resources>
    </global>
    <events>
        <controller_action_predispatch_adminhtml>
            <observers>
                <hackathon_attributeconfigurator_version>
                    <type>singleton</type>
                    <class>hackathon_attributeconfigurator/observer</class>
                    <method>checkAttributeVersion</method>
                </hackathon_attributeconfigurator_version>
            </observers>
        </controller_action_predispatch_adminhtml>
    </events>
</config>
