<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_AttributeConfigurator>
            <version>0.1.0</version>
        </Hackathon_AttributeConfigurator>
    </modules>
    <global>
        <helpers>
            <hackathon_attributeconfigurator>
                <class>Hackathon_AttributeConfigurator_Helper</class>
            </hackathon_attributeconfigurator>
        </helpers>
        <models>
            <hackathon_attributeconfigurator>
                <class>Hackathon_AttributeConfigurator_Model</class>
            </hackathon_attributeconfigurator>
        </models>
    </global>
</config>
