<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_AttributeConfigurator>
            <version>0.1.1</version>
        </Aoe_AttributeConfigurator>
    </modules>
    <global>
        <helpers>
            <aoe_attributeconfigurator>
                <class>Aoe_AttributeConfigurator_Helper</class>
            </aoe_attributeconfigurator>
        </helpers>
        <models>
            <aoe_attributeconfigurator>
                <class>Aoe_AttributeConfigurator_Model</class>
            </aoe_attributeconfigurator>
        </models>
        <resources>
            <aoe_attributeconfigurator>
                <setup>
                    <module>Aoe_AttributeConfigurator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoe_attributeconfigurator>
        </resources>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <aoe_attributeconfigurator_version>
                        <class>aoe_attributeconfigurator/observer</class>
                        <method>controllerActionPredispatchAdminhtml</method>
                    </aoe_attributeconfigurator_version>
                </observers>
            </controller_action_predispatch_adminhtml>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <attribute_configurator>
                <product_xml_location>/var/importexport/product_attributes/attribute.xml</product_xml_location>
            </attribute_configurator>
        </catalog>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Aoe_AttributeConfigurator/>
            </modules>
        </suite>
    </phpunit>
</config>
